
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-toolbar>
            <span> Clientes</span>
        </mat-toolbar>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="listChecked"
            *ngIf="listClientes != null">
            <mat-radio-button 
            (change)="selectClient(cliente.id)" 
            class="example-radio-button radio-button2" 
            *ngFor="let cliente of listClientes" 
            [id]="cliente.nome"  
            [value]="cliente.id">
            {{cliente.nome}}
            <button mat-button [matMenuTriggerFor]="menu" color="accent">
              <mat-icon  aria-hidden="false" aria-label="Example add icon" fontIcon="more_vert"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="editCliente(cliente.id)" mat-menu-item>Editar</button>
            <button (click)="deleteCliente(cliente.id)" mat-menu-item>Deletar</button>
          </mat-menu>
            </mat-radio-button>
        </mat-radio-group>
        <div class="carregandoClientEdit" *ngIf="listClientes == null">
          <p>Nenhum cliente !!</p>
        </div>
        <button (click)="createCliente()" mat-button color="accent">
            <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
            Add Cliente
        </button>
    </mat-drawer>
    <mat-drawer-content >
        <mat-chip-listbox color="accent"  aria-label="Color selection">
          <mat-chip *ngIf="clienteSelect != null" color="accent">
            <img matChipAvatar src="/assets/img/icons-info/moto.png" alt="Photo of a Shiba Inu"/>
            {{clienteSelect.moto}}
          </mat-chip>
          <mat-chip *ngIf="clienteSelect != null" color="accent">
              <img matChipAvatar src="/assets/img/icons-info/chassi.png" alt="Photo of a Shiba Inu"/>
              Chassi : {{clienteSelect.chassi}}
          </mat-chip>
            <mat-chip *ngIf="clienteSelect != null" color="accent">
                <img matChipAvatar src="/assets/img/icons-info/venda.png" alt="Photo of a Shiba Inu"/>
                Data venda : {{clienteSelect.dataVenda}}
            </mat-chip>
            <mat-chip *ngIf="clienteSelect != null" color="accent">
                <img matChipAvatar src="/assets/img/icons-info/entrega.png" alt="Photo of a Shiba Inu"/>
                Previsão Entrega : {{clienteSelect.dataEntrega}}
             </mat-chip>
          </mat-chip-listbox>
        <table *ngIf="listTarefas != null" mat-table matSort (matSortChange)="listTarefas" class="mat-elevation-z8">
            <tr >
              <th mat-header-cell class="top-tabela" mat-sort-header="name">Tarefa</th>
              <th mat-header-cell class="top-tabela" mat-sort-header="calories">Em processo</th>
              <th mat-header-cell class="top-tabela" mat-sort-header="fat">Finalizado</th>
              <th mat-header-cell class="top-tabela" mat-sort-header="carbs">Observações</th>
              <th mat-header-cell class="top-tabela" mat-sort-header="protein"></th>
            </tr>
          
            <tr *ngFor="let tarefa of listTarefas">
              <td mat-cell class="dados-tabela">{{tarefa.nome}}</td>
              <td mat-cell class="dados-tabela">
                <mat-checkbox class="example-margin" (change)="editTarefa(tarefa.idCliente, tarefa.idTarefa)"
                  [checked]="tarefa.processo" [(ngModel)]="tarefa.processo">
                </mat-checkbox>
              </td>
              <td mat-cell class="dados-tabela">
                <mat-checkbox class="example-margin" (change)="editTarefa(tarefa.idCliente, tarefa.idTarefa)"
                  [checked]="tarefa.finalizado" [(ngModel)]="tarefa.finalizado">
                </mat-checkbox>
              </td>
              <td mat-cell class="dados-tabela">{{tarefa.obs}}</td>
              <td  mat-cell class="dados-tabela">
                <button class="button-obs" mat-button color="accent" (click)="addObs(tarefa.idCliente, tarefa.idTarefa)">
                <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
                Add Obs.
                </button>
            </td>
            </tr>
          </table> 
          <div *ngIf="listTarefas == null" class="semTarefas">
            <img src="/assets/img/tarefas.png" width="160px">
            <h3>Selecione um Cliente!</h3>
          </div>
    </mat-drawer-content>    
</mat-drawer-container>

<div></div>

  
